body {
    background-color: black;
}

section {
    padding-bottom: 200px;
}

@media (min-width: 800px) {
    body {
        width: 700px;
        padding-left: 100px;
        margin: 0;
    }
}

@media (max-width: 800px) {
    body {
        padding: 10px;
    }
    img {
        width: 100%;
    }
}

h1, h2, h3, h4, p, ul, li, table, div {
    color: lightgrey;
}

a {
    color: lightblue;
}

h2 {
    margin-top: 50px;
}

h2:before,
h3:before,
h4:before,
h5:before {
  color: grey;
}
h2:before {
  content:"## ";
}
h3:before {
  content:"### ";
}
h4:before {
  content:"#### ";
}
h5:before {
  content:"##### ";
}

#article-header {
    margin: 2%;
    padding-left: 3%;
    padding-right: 3%;
    width: 90%;
    background-color: rgb(30, 30, 30);
    border-radius: 5%;
    padding-top: 1ch;
    padding-bottom: 1ch;
}

/* disable useragent stylesheet */
figure {
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}

pre {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 5px 0;
    padding: 1.5ch;
    border: solid 1px lightgray;
    border-radius: 15px;
}

code {
    overflow-wrap: break-word;
    /* This is ayu-dark color */
    background-color: #0f1419;
}

.tableofcontent {
    > p {
        margin-bottom: 0;
    }
    > ul {
        margin-top: 0;
    }
}

blockquote {
    border-left: 4px solid lightgray;
    padding-left: 20px;
    opacity: .8;
    font-style: italic;
    margin: 30px 0;
}

.footnote-definition {
    color: lightgrey;
    font-size: x-small;
    padding-left: 40px;
    position: relative;

    > sup {
        position: absolute;
        top: 0;
        right: calc(100% - 35px);
        display: inline-block;
    }
    > sup::before {
        content: "注"
    }
    > sup::after {
        content: ":"
    }
    > p {
        display: inline-block;
        margin: 0;
    }
}
