{% extends "base.html" %}

{% block header %}
  <title>{{ page.title }} | oshikiri.org</title>
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:description" content="{{page.description}}">
{% endblock %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
<div id="article-header">
<p class="subtitle"><strong>記事を書いた日</strong>: {{ page.date }}</p>
{% if page.description %}
<p>
  <b>要約</b>: {{ page.description }}
</p>
{% endif %}

{% if page.toc %}
  <div class="tableofcontent">
    <p><b>目次</b>:</p>
    <ul>
    {% for h1 in page.toc %}
        <li>
          <a href="#{{ h1.id | safe }}">{{ h1.title }}</a>
          {% if h1.children %}
            <ul>
            {% for h2 in h1.children %}
              <li>
                <a href="#{{ h2.id | safe }}">{{ h2.title }}</a>
                {% if h2.children %}
                <ul>
                {% for h3 in h2.children %}
                  <li>
                    <a href="#{{ h3.id | safe }}">{{ h3.title }}</a>
                  </li>
                {% endfor %}
                </ul>
              {% endif %}
              </li>
            {% endfor %}
            </ul>
          {% endif %}
        </li>
    {% endfor %}
    </ul>
  </div>
{% endif %}
</div>

{{ page.content | safe }}

<h2>この記事にリンクしている記事</h2>
{% if page.backlinks %}
  <ul>
  {% for bl in page.backlinks %}
    <li>
      <a href="{{bl.permalink}}">
        {{ bl.title }}
      </a>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>なし</p>
{% endif %}

{% endblock content %}
