{% extends "base.html" %}

{% block header %}
  <title>{{ page.title }} | oshikiri.org</title>
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:description" content="{{page.description}}">
{% endblock %}

{% block content %}
  <h1 class="title">
    {{ page.title }}
  </h1>
  <div id="article-header">
    <p class="subtitle">
      <strong>記事を書いた日</strong>: {{ page.date }}
      (<a href="https://github.com/oshikiri/oshikiri.github.io/commits/master/content/posts/{{ page.slug }}.md">更新履歴</a>)
    </p>
    {% if page.description %}
      <p>
        <b>要約</b>: {{ page.description }}
      </p>
    {% endif %}

    {% include "components/tableofcontent.html" %}
  </div>

  {{ page.content | safe }}

  {% include "components/backlinks.html" %}
{% endblock content %}
